#loginpage{
text-align: center;
text-align: center;
border: 1px solid ;
width: 35%;
margin: auto;
background-color:pink;
border: left solid  4px;
padding-top: 50px;
}
#logo{
    object-fit: cover;
    width: 10%;
    border-radius: 70%;
    width: 10%;
    height: 25%;

}
a{
    text-decoration: none;
}
#navbar{
    display: flex;
    gap: 3%;
    font-size: large;
}
input{
   margin-left: 20%; 
   border-radius: 15px;
   height: 30px;
   
}
#loginbutton{
    border-radius: 15px;
    width: 15%;
    height: 40%;
    margin-left: 20%;
    background-color: purple;
}
body{
    text-align: center;
}
label{
    padding-right: 35%;
}
@media screen and (max-width:475px) and (min-width:375px){
    #loginpage{
        text-align: center;
        text-align: center;
        border: 1px solid ;
        width: 95%;
        }
        input{
            margin-left: 5%; 
            border-radius: 15px;
            height: 10px;
            
         }
         #navbar{
            flex-wrap: wrap;
            gap: 3%;
            font-size: large;
        }
        #loginbutton{
            border-radius: 15px;
            width: 35%;
            height: 40%;
            margin-left: 20%;
            background-color: purple;
        }
}
@media screen and (max-width:600px)and (min-width:475px){
    #loginpage{
        text-align: center;
        text-align: center;
        border: 1px solid ;
        width: 75%;
        }
        input{
            margin-left: 5%; 
            border-radius: 15px;
            height: 10px;
            
         }
         #navbar{
            flex-wrap: wrap;
            gap: 3%;
            font-size: smaller;
        }
        #loginbutton{
            border-radius: 15px;
            width: 35%;
            height: 40%;
            margin-left: 20%;
            background-color: purple;
        }

}
@media screen and (max-width:740px)and (min-width:600px){
    #signuppage{
        text-align: center;
        text-align: center;
        border: 1px solid ;
        width: 95%;
    
        }
        input{
           padding-right: 20%;
            border-radius: 0px;
            height: 5px;
            width: 5%;
            
         }
         #navbar{
            flex-wrap: wrap;
            gap: 3px;
            font-size: larger;
        }
        #loginbutton{
            border-radius: 15px;
            width: 35%;
            height: 40%;
            margin-left: 20%;
            background-color: purple;
        }


}
@media screen and (max-width:1024px){
    #loginpage{
        text-align: center;
        text-align: center;
        border: 1px solid ;
        width: 85%;
    
        }
        input{
           padding-right: 20%;
            border-radius: 25px;
            height: 50px;
            width: 5%;
            
         }
         #navbar{
            flex-wrap: wrap;
            gap: 3px;
            font-size: xx-large;
        }
        #loginbutton{
            border-radius: 15px;
            width: 25%;
            height: 40%;
            margin-left: 20%;
            background-color: purple;
        }
}

