#navbar{
    text-align: center;
    padding-right: 35%;
    padding-bottom: 1%;
}
#summary{
    padding-left: 10%;
    font-size: larger;
}
body{
    background-color: pink;
}
#book{
    object-fit: cover;
    width: 400px;
    padding-left: 10%;
}
#borncrime{
display: flex;
}
@media screen and (max-width:475px) and (min-width:375px){
    #navbar{
        text-align: center;
        padding-right: 25%;
        padding-bottom: 1%;
    }
    #summary{
        padding-left: 10%;
        font-size: smaller;
    }
    body{
        background-color: pink;
    }
    #book{
        object-fit: cover;
        width: 80px;
        padding-left: 35%;
    }
    #borncrime{
    flex-wrap: wrap;
    }
}

