#signuppage{
    text-align: center;
    border: 1px solid ;
    width: 40%;
    margin: auto;
    background-color:pink;
    border: left solid  4px;
    padding-top: 50px;
    
}
input{
    /* margin-left: 10px; */
    border-radius: 15px;
    height: 30px;
}
#navbar{
display: flex;
gap: 3%;
padding-left: 20%;
font-size: large;
}
#logo{
    object-fit: cover;
    width: 15%;
    /* border-radius: 70%; */
    width: 10%;
    height: 25%;

}

a{
    text-decoration: none;
}
#signupbutton{
    border-radius: 15px;
    height: 30px;
    background-color: blueviolet;
}
label{
    padding-right: 35%;
}
@media screen and (max-width:475px) and (min-width:375px){
    #signuppage{
     padding-right: 10%;
        border: 1px solid ;
        width: 75%;
        }
        input{
            margin-left: 5%; 
            border-radius: 5px;
            height: 20px;
            width: 65%;
            
         }
         #navbar{
            flex-wrap: wrap;
            font-size: xx-large;

        }
        #signupbutton{
            border-radius: 15px;
            width: 35%;
            height: 40%;
            margin-left: 20%;
            background-color: purple;
        }
        body{
            font-size: larger;
        }
}
@media screen and (max-width:600px)and (min-width:475px){
    #signuppage{
        text-align: center;
        text-align: center;
        border: 1px solid ;
        width: 95%;
    
        }
        input{
           padding-right: 20%;
            border-radius: 0px;
            height: 5px;
            width: 5%;
            
         }
         #navbar{
            flex-wrap: wrap;
            gap: 3px;
            font-size: larger;
        }
        #sigupbutton{
            border-radius: 15px;
            width: 35%;
            height: 40%;
            margin-left: 20%;
            background-color: purple;
        }

}

@media screen and (max-width:740px)and (min-width:600px){
    #signuppage{
        text-align: center;
        text-align: center;
        border: 1px solid ;
        width: 95%;
    
        }
        input{
           padding-right: 20%;
            border-radius: 0px;
            height: 5px;
            width: 5%;
            
         }
         #navbar{
            flex-wrap: wrap;
            gap: 3px;
            font-size: larger;
        }
        #sigupbutton{
            border-radius: 15px;
            width: 35%;
            height: 40%;
            margin-left: 20%;
            background-color: purple;
        }


}
