
#logo{
    object-fit: cover;
    border-radius: 25px;
    width: 30px;
    height: 35px;

}
#logoandnavbar{
    display: flex;
    gap: 7%;
    background-color: aliceblue;
    
    
}
#navbar{
    display: flex;
    gap: 7%;
    font-size: xx-large;
}
a{
    text-decoration: none;
}
#about{
    color:blueviolet;
}
#invite{
    color: blueviolet;
    top: -20%;
}
#topnav{
text-align: center;
color: blueviolet;
margin-right: 50%;
text-align: center;
padding-left: 20%;
padding-bottom: 5%;
}
.landingpage{
    background-color: pink;
    
}
#introduction{
    display: flex;
    gap: 3px;

    
}
#mentorshipimage{
    object-fit: cover;
    /* border-radius: 50%;  */
    width: 100%;
    height: 100%;
   padding-left: 50%;
}
#about{
    padding-left: 10%;
}
#invite{
    padding-left: 10%;
     
}
body{
    background-color: pink;
}
@media screen and (max-width:475px) and (min-width:375px){
    
    #navbar{
     flex-wrap: wrap;
        
    }  
    #logoandnavbar{
        flex-wrap: wrap;
        flex-direction: row;
        gap: 5px;
    }  
    #introduction{
        display: flex;
        gap: 2px;
       
        
    }
    #about{
        padding-left: 10%;
        font-size: smaller;
    }
    #invite{
        padding-left: 10%;
        font-size: smaller;
}
#mentorshipimage{
    object-fit: cover;
    border-radius: 50%;
    width: 70%;
    height: 70%;
}
}
@media screen and (max-width:600px)and (min-width:475px){
   
    #navbar{
       flex-wrap: wrap;
      
        
    }  
    #logoandnavbar{
        flex-wrap: wrap;
        flex-direction: row;
        gap: 3px;
    }  
    #introduction{
      flex-wrap: wrap;
        gap: 2%;
      
    }
    #about{
        padding-left: 10%;
        font-size: smaller;
    }
    #invite{
        padding-left: 10%;
        font-size: smaller;
        
   
}
#mentorshipimage{
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
}
@media screen and (max-width:740px)and (min-width:600px){
    #signuppage{
        text-align: center;
        text-align: center;
        border: 1px solid ;
        width: 95%;
    
        }
        input{
           padding-right: 20%;
            border-radius: 0px;
            height: 5px;
            width: 5%;
            
         }
         #navbar{
            flex-wrap: wrap;
            gap: 3px;
            font-size: larger;
        }
        #mentorshipimage{
            object-fit: cover;
            border-radius: 50%;
            width: 100%;
            height: 100%;
        }


}
@media screen and (max-width:1024px){
    #signuppage{
        text-align: center;
        text-align: center;
        border: 1px solid ;
        width: 95%;
        height: 100%;
    
        }
        input{
           padding-right: 20%;
            border-radius: 0px;
            height: 5px;
            width: 5%;
            
         }
         #navbar{
            flex-wrap: wrap;
            gap: 3%;
            font-size: xx-large;
            padding-right: 20%;
            display: block;

        }
    #landingpage{
        flex-wrap: wrap;
    }
    #mentorshipimage{
        object-fit: cover;
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }
      
}

