
#logo{
    object-fit: cover;
    width: 10%;
    height: 10%;

}
#logoandnavbar{
    display: flex;
    gap: 7%;
    background-color: aliceblue;

    
}
#navbar{
    display: flex;
    gap: 7%;
    font-size: larger;
}
a{
    text-decoration: none;
}
#about{
    color:blueviolet;
}
#invite{
    color: blueviolet;
    top: -20%;
}
#topnav{
text-align: center;
color: blueviolet;
margin-right: 20%;
padding-left: 20%;
padding-bottom: 5%;
font-size: xx-large;
}
.landingpage{
    background-color: pink;
    
}
#introduction{
    display: flex;
    gap: 3px;

    
}
#mentorshipimage{
    object-fit: cover;
    border-radius: 45%; 
    width: 70%;
    height: 90%;
   padding-left: 5%;
}
#about{
    padding-left: 10%;
}
#invite{
    padding-left: 10%;
    text-align: center;
     
}
body{
    background-color: pink;
}
@media screen and (max-width:475px) and (min-width:375px){
    
    #navbar{
     flex-wrap: wrap;
        
    }  
    #logoandnavbar{
        flex-wrap: wrap;
        gap: 5px;
        font-size:smaller;
    }  
    #introduction{
        flex-wrap: wrap;
        gap: 2px;
       
        
    }
    #about{
        padding-left: 10%;
        font-size: smaller;
    }
    #invite{
        padding-left: 10%;
        font-size: smaller;
}
#mentorshipimage{
    border-radius: -5px;
    width: 5%;
    height: 5%;
    padding-left: 0px;
   
}
}
@media screen and (max-width:600px)and (min-width:475px){
   
    #navbar{
       flex-wrap: wrap;
      
        
    }  
    #logoandnavbar{
        flex-wrap: wrap;
        gap: 3px;

    }  
    #introduction{
      flex-wrap: wrap;
        gap: 2px
      
    }
    #about{
        padding-left: 10%;
        font-size: smaller;
    }
    #invite{
        padding-left: 20%;
        font-size: smaller;
        text-align: center;
        
   
}
#mentorshipimage{
    object-fit: cover;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    padding-left: 0px;
}
#mentorshipimage{
    object-fit: cover;
    border-radius: 3px;
    height: 10px;
    width: 10px;
    padding-left: 0px;
}
body{
    margin-left: 10%;
    margin-right:10% ;
}
}
@media screen and (max-width:740px)and (min-width:600px){
    #signuppage{
        text-align: center;
        text-align: center;
        border: 1px solid ;
        width: 95%;
    
        }
         #navbar{
            flex-wrap: wrap;
            gap: 3px;
            font-size: larger;
        }
        #mentorshipimage{
            object-fit: cover;
            border-radius: 50px;
            width: 50%;
            height: 50%;
            padding-left: 0px;
        }


}
@media screen and (max-width:1024px){
    #signuppage{
        text-align: center;
        text-align: center;
        border: 1px solid ;
        width: 95%;
        height: 100%;
    
        }
        input{
           padding-right: 20%;
            border-radius: 0px;
            height: 5px;
            width: 5%;
            
         }
         #navbar{
            flex-wrap: wrap;
            gap: 3%;
            font-size: xx-large;
            padding-right: 20%;
            display: block;

        }
    #landingpage{
        flex-wrap: wrap;
        padding-left: 10%;
    }
    #mentorshipimage{
        object-fit: cover;
        border-radius: 50%;
        width: 80%;
        height: 100%;
        padding-left: 0px;
    }
      
}

