 #logo{
    object-fit: cover;
    width: 10%;
     border-radius: 70%; 
     width: 10%;
    height: 25%; 

}
body{
    text-align: center;
    background-color: pink;
}
#to-do{
padding-right: 60%;
}
input{
    margin-left: 15%;
    border-radius: 15px; 
     height: 30px;
    font-size: larger; 

 } 
 #navbar{
    display: flex;
    gap: 3%; */
    padding-left: 3%;
    font-size: larger; 
 }
a{
text-decoration: none;
}
li{ 
    padding-left: 20%;
    margin-left: 20%; 
  
}
ol{
    padding-right: 35%;
}
checkbox{
    margin-right: 20%;
} 
 #To-dopage{
 padding-left: 20%; 
 }
#checkbox{
padding-right: 40%;
}
body{ 
    text-align: center;
    border: 1px solid ;
    width: 60%;
    margin: auto;
    background-color:pink;
    border: left solid  4px;
    padding-top: 50px;
} 
 @media screen and (max-width:475px) and (min-width:375px){
    body{
        text-align: center;
        text-align: center;
        border: 1px solid ;
        width: 70%;
       
        } 
         input{
           
            border-radius: 15px;
            height: 10%;
            width: 30%;
            
         }
         #navbar{
            flex-wrap: wrap;
            gap: 3%;
            font-size: large;
        }
        body{
            font-size: large;
        }

} 
 @media screen and (max-width:600px)and (min-width:475px){
    body{
        text-align: center;
        text-align: center;
        border: 1px solid ;
        width: 75%;
        margin: auto;
        background-color:pink;
        border: left solid  4px; 
        padding-top: 50px;
        }
        input{
            margin-left: 5%; 
            border-radius: 45px;
            height: 20%;
            
         }
         #navbar{
            flex-wrap: wrap;
            gap: 3%;
            font-size: smaller;
        }
    

 }
@media screen and (max-width:740px)and (min-width:600px){
         #navbar{
            flex-wrap: wrap;
            gap: 3px;
            font-size: larger;
        }
        input{
           
            border-radius: 15px;
            height: 20%;
            width: 60%;
            
         }


}
 @media screen and (max-width:1024px){
 #navbar{
        flex-wrap: wrap;
        gap: 3px;
        font-size: larger;
    }
    input{
       
        border-radius: 15px;
        height: 20%; 
        width: 60%;
        
     }

    } 
 
    .Tasks {
        max-width: 500px;
        max-height: 500px; 
        margin: 0 auto;
        padding: 20px;
        text-align: center;
        background-color: pink;
    
      }
       
      button {
        margin-top: 10px;
        margin-left: 10%;
        border-radius: 25px;
        
      }
      
      ul {
        list-style-type: none;
        padding: 0;
      }
      
      li {
        margin-bottom: 5px;
      }
      input{
        margin-left: 5%; 
            border-radius: 45px;
            height: 20%;
            font-size: larger;
            text-align: center;
      }
      a{
        text-decoration: none;
        }
        #navbar{
            display: flex;
            gap: 3%;
            padding-left: 5%;
            font-size: larger;
        } 